* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --primary-color: #23272A;

    --font-guy: 'Luckiest Guy', Open Sans, sans-serif;
}


.font-guy {
    font-family: var(--font-guy);
}